{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>Inscripion</h1>

    {{ form_errors(registrationForm) }}
    <section class="register-container">

    {{ form_start(registrationForm) }}

        {{ form_row(registrationForm.name) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword) }}
        <p>
            Votre mot de passe doit contenir au moins 8 caractères, une majuscule, une minuscule et un chiffre.
        </p>
        <ul>
            <li>

            </li>
        </ul>
        <div class="form-check">
            {{ form_widget(registrationForm.agreeTerms) }}
            {{ form_label(registrationForm.agreeTerms) }}
        </div>

        <button type="submit" class="btn">S'inscrire</button>

    {{ form_end(registrationForm) }}
        <div class ="log">
            <a href="{{ path('app_login') }}"> Déjà un compte ? Connectez-vous</a>
        </div>
    </section>

{% endblock %}
