<footer role="contentinfo">

    <img src="{{ asset('images/femme 7.png') }}" alt="Pin-up allongée">

    <h2 class="h2-footer">comité miss pin-up bretagne</h2>

    <nav role="navigation" aria-label="Liens du pied de page">

        <div>
            <h3>Navigation</h3>
            <ul>
                <li><a href="{{ path('app_home') }}">Accueil</a></li>
                <li><a href="{{ path('app_events') }}">Événement</a></li>
                <li><a href="{{ path('app_shop') }}">Boutique</a></li>
                <li><a href="{{ path('app_contact') }}">Contact</a></li>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
                {% else %}
                    <li><a href="{{ path('app_login') }}">Connexion</a></li>
                {% endif %}
            </ul>
        </div>

        <div>
            <h3>Association</h3>
            <ul>
                <li><a href="{{ path('mentions_legales') }}">Mentions légales</a></li>
                <li><a href="{{ path('politique_confidentialite') }}">Politique de confidentialité</a></li>
                <li><a href="{{ path('cgu') }}">Conditions Générales d'Utilisation</a></li>
                <li><a href="{{ path('cgv') }}">CGV</a></li>
            </ul>
        </div>

        <div>
            <h3>contact</h3>
            <ul class="mailto">
                <li><a href="mailto:misspinupbretagne@gmail.com">misspinupbretagne@gmail.com</a></li>
            </ul>
        </div>

        <div class="socials">
            <h3>Nos réseaux</h3>
            <ul>
                <li>
                    <a href="https://www.facebook.com/misspinupbretagne/" target="_blank" aria-label="Page Facebook du comité Miss Pin-Up Bretagne">
                        <i class="fa-brands fa-facebook"></i>
                    </a>
                </li>

                <li>
                    <a href="https://www.instagram.com/misspinupbretagne/" target="_blank" aria-label="Page Instagram du comité Miss Pin-Up Bretagne">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                </li>
            </ul>
        </div>

    </nav>
    <p class="tom">© 2025 Tom Ochietti - Tous droits réservés</p>
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('admin') }}" class="admin">Administration</a>
    {% endif %}

</footer>
