<header role="banner">

<div class="overlay"></div>

    <nav class="menu" role="navigation" aria-label="Navigation principale">

    <img src="{{ asset('images/femme 5.png') }}" alt="Pin-up assise" class="pinup-img">
        <p class="menu-title">
            <a href="{{ path('app_home') }}">
                <span class="title-main1">MISS</span>
                <span class="title-main2">PIN-UP</span>
                <span class="title-sub">BRETAGNE</span>
            </a>
        </p>

        <div class="menu-icons">

            {% if app.user %}

            <a href="#" title="Notifications"></a>
            <a href="{{ path('app_profil') }}" title="Connexion"> <i class="fa-regular fa-user"></i></a>

            {% else %}
            <i class="fa-regular fa-bell" style="visibility: hidden;"></i>
            <a href="{{ path('app_login') }}" title="Profil"> <i class="fa-regular fa-user"></i></a>

            {% endif %}

            <button class="menu-link hamburger" id="open-menu" type="button" title="Menu" aria-controls="side-menu" aria-expanded="false">
                <i class="fa fa-times"></i>
                <i class="fa fa-bars"></i>
            </button>

        </div>
    </nav>

</header>

{# Action open menu #}
<aside class="side-menu" id="side-menu" role="navigation" aria-label="Menu latéral">

    {# Open menu #}
    <img src="{{ asset('images/femme 8.png') }}" alt="Pin-up adossée" class="img-menu">
    <img src="{{ asset('images/logo_light.png') }}" alt="Logo du menu" class="logo-light">
    <ul>
        <li><a href="{{ path('app_home') }}">Accueil</a></li>
        <li><a href="{{ path('app_events') }}">Événements</a></li>
        <li><a href="{{ path('app_shop') }}">Boutique</a></li>
        <li><a href="{{ path('app_contact') }}">Contact</a></li>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
        {% else %}
            <li><a href="{{ path('app_login') }}">Connexion</a></li>
        {% endif %}
    </ul>
    <div class="menu-socials">
        <ul>
            <li>
                <a href="https://www.facebook.com/misspinupbretagne/" target="_blank"><i class="fa-brands fa-facebook"></i></a>
            </li>
            <li>
                <a href="https://www.instagram.com/misspinupbretagne/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            </li>
        </ul>
    </div>
</aside>
