<header>
    <div class="overlay"></div>

    <nav class="menu">
        <img src="{{ asset('images/femme 5.png') }}" alt="" class="pinup-img">
        <p class="menu-title">
            <a href="{{ path('app_home') }}">
                <span class="title-main">PIN-UP</span>
                <span class="title-sub">BRETAGNE</span>
            </a>
        </p>

        <div class="menu-icons">

            {% if app.user %}

            <a href="#" title="Notifications"><i class="fa-regular fa-bell"></i></a>
            <a href="{{ path('app_profil') }}" title="Connexion"> <i class="fa-regular fa-user"></i></a>

            {% else %}
            <i class="fa-regular fa-bell" style="visibility: hidden;"></i>
            <a href="{{ path('app_login') }}" title="Profil"> <i class="fa-regular fa-user"></i></a>

            {% endif %}

            <button class="menu-link hamburger" id="open-menu" type="button" title="Menu">
                <i class="fa fa-bars"></i>
                <i class="fa fa-times"></i>
            </button>

        </div>
    </nav>

</header>

{# Action de fermeture du menu #}
<aside class="side-menu" id="side-menu">
    {# Menu hamburger ouvert #}
    <img src="{{ asset('images/femme 8.png') }}" alt="" class="img-menu">
    <img src="{{ asset('images/logo_light.png') }}" alt="" class="logo-light">
    <ul>
        <li><a href="{{ path('app_home') }}">Accueil</a></li>
        <li><a href="{{ path('app_events') }}">Événements</a></li>
        <li><a href="{{ path('app_shop') }}">Boutique</a></li>
        <li><a href="{{ path('app_contact') }}">Contact</a></li>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
        {% else %}
            <li><a href="{{ path('app_login') }}">Connexion</a></li>
        {% endif %}
    </ul>
    <div class="menu-socials">
        <ul>
            <li>
                <a href="https://www.facebook.com/misspinupbretagne/"><i class="fa-brands fa-facebook"></i></a>
            </li>
            <li>
                <a href="https://www.instagram.com/misspinupbretagne/"><i class="fa-brands fa-instagram"></i></a>
            </li>
        </ul>
    </div>
</aside>
