{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
    <section class="profil-container">
        <h1>Modifier mon profil</h1>

        {{ form_start(profilForm) }}
        {{ form_row(profilForm.name) }}
        {{ form_row(profilForm.email) }}
        {{ form_row(profilForm.plainPassword) }}
        <button type="submit" class="btn">Mettre à jour</button>
        {{ form_end(profilForm) }}

        {% if message is defined %}
            <p>{{ message }}</p>
        {% endif %}

    </section>
{% endblock %}
