<!DOCTYPE html>
<html lang="fr" data-turbo="false">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}Miss Pin-Up Bretagne{% endblock %}</title>

    {# Meta Open Graph & Twitter (compatible avec d'autres applis) #}
    <meta property="og:title" content="Miss Pin-Up Bretagne">
    <meta property="og:description" content="Découvrez l'univers rétro, les concours et les candidates de Miss Pin-Up Bretagne !">
    <meta property="og:site_name" content="Miss Pin-Up Bretagne">
    <meta property="keywords" content="Miss Pin-Up Bretagne, Pin-Up, Bretagne, Concours, Candidature, Candidature Pin-Up, Candidature Bretagne, Candidature Miss Pin-Up Bretagne, Candidature Miss Pin-Up Bretagne 2023, Candidature Miss Pin-Up Bretagne 2024, Candidature Miss Pin-Up Bretagne 2025, Candidature Miss Pin-Up Bretagne 2026, Candidature Miss Pin-Up Bretagne 2027, Candidature Miss Pin-Up Bretagne 2028, Candidature Miss Pin-Up Bretagne 2029, Candidature Miss Pin-Up Bretagne 2030">
    <meta property="og:image" content="{{ asset('images/logo.png') }}">
    <meta property="og:url" content="https://pin-up-bretagne.fr/">
    <meta property="og:type" content="website">

    {# Meta twitter #}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@MissPinUpBretagne">
    <meta name="twitter:description" content="Découvrez l'univers rétro et les concours Miss Pin-Up Bretagne. Élégance, authenticité et esprit vintage.">
    <meta name="twitter:title" content="Miss Pin-Up Bretagne">
    <meta name="twitter:image" content="{{ asset('images/logo.png') }}">

    {# Favicon & Font #}
    <link rel="icon" type="image/png" href="{{ asset('images/favicon.png') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Limelight&family=Lobster&display=swap" rel="stylesheet">

    {# FontAwesome #}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
          crossorigin="anonymous"
          referrerpolicy="no-referrer"
    />

    {% block importmap %}
        {{ importmap('app') }}
    {% endblock %}

    {% block stylesheets %}

    {% endblock %}
</head>

<body class="{{ body_class|default('') }}">

{% if body_class|default('') != 'login-page' %}
    {% include 'partials/_header.html.twig' %}
{% endif %}

<div class="stars"></div>

<main>
    {% block body %}{% endblock %}
</main>

{% include 'partials/_footer.html.twig' %}

{% block javascripts %}{% endblock %}


</body>
</html>
