{% extends 'base.html.twig' %}

{% block title %}Événements{% endblock %}

{% block body %}

    <h1>Calendrier des événements</h1>
    <h2>Calendrier événementiel</h2>
    <div class="events-page">

        <img src="{{ asset('images/porte-calendar.png') }}" alt="" class="pinup pinup-cd">
        {# FullCalendar #}
        <div id="calendar"></div>
    </div>
    {# Modale pour réservations #}
    <div id="modal" class="modal">
        <div class="modal-content">
            <h3>Réservations</h3>
            <ul id="reservationList"></ul>

            <div id="reservationMessage"></div>

            <button id="reserveBtn">Réserver</button>
            <button id="unreserveBtn">Annuler ma réservation</button>
            <button id="closeModal">Fermer</button>
        </div>
    </div>

    {# SECTION BLOG #}
    <h2>Nos actualités</h2>
    <section class="blog-section">

        <div class="category-tabs">
            {% for category in categories %}
                <button class="tab-btn" data-id="{{ category.id }}">{{ category.name|upper }}</button>
            {% endfor %}
        </div>

        <div class="articles-container" >
            {% for category in categories %}
                <div class="articles-list" id="cat-{{ category.id }}" style="display: none;">
                    {% for article in category.articles %}
                        <article class="article-card" data-id="{{ article.id }}">
                            <h3 class="article-title">{{ article.title|upper }}</h3>
                            <p class="category-name">Catégorie : {{ category.name }}</p>

                            <div class="article-content">
                                <p>{{ article.content|raw }}</p>
                            </div>
                        </article>
                    {% else %}
                        <p class="no-article">Aucun article dans cette catégorie.</p>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </section>

    {# FullCalendar via CDN #}
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js"></script>

    <script src="{{ asset('js/calendar.js') }}"></script>
{% endblock %}
